.header{
    width: 100%;
    height: 70vh;
   
}
.headercontent{
   max-width: 1024px;
   margin:90px auto;
}
.main-text{
    text-align: center;
    font-weight: 700;
    color: grey;
}
.main-text span{
    color: rgb(100, 99, 99);
}
.main-para{
   display: flex;
   justify-content: center;
   font-size: 17px;
   margin-top: 20px;
   font-weight: 600;
   color: rgb(7, 71, 71);
}
#startbtn{
   position: absolute;
   top: 42%;
   left: 47%;
   translate:(-42,-47);
}